<%= render "layouts/slideshow" %>

 <div id="main">
     <div class="content">
         <div>
             <%= image_tag "schafer-dog-4357790_640.jpg" , class: "main-image", :alt => "img4" %>
         </div>
         <div class="explain">
            <h3>Sample</h3>
            <p>--ここに説明が入ります--</p>
            <button>Link</button>
         </div>
     </div>
     <div class="content">
         <div>
             <%= image_tag "dogs-1790047_640.jpg" , class: "main-image2", :alt => "img5" %>
         </div>
         <div class="explain2">
            <h3>Sample</h3>
            <p>--ここに説明が入ります--</p>
            <button>Link</button>
         </div>
     </div>
     <div class="content">
         <div>
             <%= image_tag "animal-931355_640 (1).jpg" , class: "main-image", :alt => "img6" %>
         </div>
         <div class="explain">
            <h3>Sample</h3>
            <p>--ここに説明が入ります--</p>
            <button>Link</button>
         </div>
     </div>
     <div class="notice">
        <div class="know">
          <%= render "layouts/know" %>
        </div>
        <div class="fb">
          <div class="fb-page" data-href="https://www.facebook.com/cooandriku/" data-tabs="timeline" data-width="490" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/cooandriku/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/cooandriku/">ペットショップCoo&amp;RIKU（クーアンドリク）</a></blockquote></div>
        </div>
     </div>
</div>

